In [219]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import matplotlib as mpl
%matplotlib inline
plt.rcParams["font.sans-serif"]=["Simhei"]

In [6]:
(23**2+abs(101-67)**2)**(1/2)

41.048751503547585

In [8]:
rowdata={"moveName":["吴文东西","后来的我们","前任三","红海行动","唐人街探案","战狼"],
         "fighttimes":[1,5,12,108,112,115],
         "kisstimes":[101,89,97,5,9,8],
         "category":["love","love","love","action","action","action"]
}

In [9]:
data=pd.DataFrame(rowdata)
data

  moveName  fighttimes  kisstimes category
0     吴文东西           1        101     love
1    后来的我们           5         89     love
2      前任三          12         97     love
3     红海行动         108          5   action
4    唐人街探案         112          9   action
5       战狼         115          8   action

In [165]:
newdata=[24,67]

In [30]:
(data.iloc[:,1:3]-newdata)

   fighttimes  kisstimes
0         -23         34
1         -19         22
2         -12         30
3          84        -62
4          88        -58
5          91        -59

In [37]:
((data.iloc[:,1:3]-newdata)**2).sum(1)

0     1685
1      845
2     1044
3    10900
4    11108
5    11762
dtype: int64

In [36]:
((data.iloc[:,1:3]-newdata)**2)

   fighttimes  kisstimes
0         529       1156
1         361        484
2         144        900
3        7056       3844
4        7744       3364
5        8281       3481

In [49]:
dist=np.array(list((((data.iloc[:,1:3]-newdata)**2).sum(1))**0.5))

In [52]:
dist.astype(np.float64)

array([ 41.0487515 ,  29.06888371,  32.31098884, 104.40306509,
       105.39449701, 108.45275469])

In [59]:
dist_l=pd.DataFrame({"dist":dist,"labels":data.iloc[:,3]})

In [113]:
dr=dist_l.sort_values(by="dist",ascending=True)[:4]

In [115]:
dr.iloc[:,-1].value_counts().index[0]

'love'

In [137]:
data.shape[0]/2

3.0

In [161]:
"""
function：KNN分类器
paramaters:
    newdata 新数据
    dataSets 已有数据集
    参数 K
return :分类好的结果
"""
def classify(newData,dataSets,k=None):
    result=[]
    if k !=None:
        k=k
    else:
        k=dataSets.shape[0]//2
#     print(k)
    dist=np.array(list((((data.iloc[:,1:3]-newdata)**2).sum(1))**0.5))
    dist_l=pd.DataFrame({"dist":dist,"labels":data.iloc[:,-1]})
    dr=dist_l.sort_values(by="dist",ascending=True)[:k]
    result.append(dr.iloc[:,-1].value_counts().index[0])
    return result

In [174]:
classify(newdata,data)

3

['love']

In [183]:
dating=pd.read_table("datingTestSet.txt")

In [185]:
dating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   40920       999 non-null    int64
 1   8.326976    999 non-null    float64
 2   0.953952    999 non-null    float64
 3   largeDoses  999 non-null    object
dtypes: float64(2), int64(1), object(1)
memory usage: 31.3+ KB

In [215]:
colors=[]
for i in range(dating.shape[0]):
    m=dating.iloc[i,-1]
    if m=="didntLike":
        colors.append("black")
    elif m=="smallDoses":
        colors.append("blue")
    elif m=="largeDoses":
        colors.append("red")

In [216]:
plt.scatter(datinga)

999

999