In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier

In [2]:

data=pd.read_csv("test.csv")
partial_data=data.query("x>2.0&x<2.5&y>2.0&y<2.5")
partial_data.shape

(20505, 5)

In [5]:
partial_data["time"].head()

1512    793680
1861    846674
2194    985636
2243    949704
2644    876147
Name: time, dtype: int64

In [8]:
time=pd.to_datetime(partial_data["time"],unit="s")
time.head()

1512   1970-01-10 04:28:00
1861   1970-01-10 19:11:14
2194   1970-01-12 09:47:16
2243   1970-01-11 23:48:24
2644   1970-01-11 03:22:27
Name: time, dtype: datetime64[ns]

In [11]:
time=pd.DatetimeIndex(time)
time.hour

Int64Index([ 4, 19,  9, 23,  3, 15,  6,  5, 12, 12,
            ...
            12, 11,  8, 21, 10,  7,  2,  4, 17, 11],
           dtype='int64', name='time', length=20505)

In [12]:
partial_data["hour"]=time.hour
partial_data["day"]=time.day
partial_data["weekday"]=time.weekday
partial_data.head()

/tmp/ipykernel_7366/4168604514.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  partial_data["hour"]=time.hour
/tmp/ipykernel_7366/4168604514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  partial_data["day"]=time.day
/tmp/ipykernel_7366/4168604514.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  partial_data["weekday"]=time.weekday

      row_id       x       y  accuracy    time  hour  day  weekday
1512    1512  2.0306  2.0505        30  793680     4   10        5
1861    1861  2.2929  2.1761        59  846674    19   10        5
2194    2194  2.1846  2.1788       178  985636     9   12        0
2243    2243  2.2299  2.1910       125  949704    23   11        6
2644    2644  2.3651  2.2494        10  876147     3   11        6

In [13]:
partial_data.head()

      row_id       x       y  accuracy    time  hour  day  weekday
1512    1512  2.0306  2.0505        30  793680     4   10        5
1861    1861  2.2929  2.1761        59  846674    19   10        5
2194    2194  2.1846  2.1788       178  985636     9   12        0
2243    2243  2.2299  2.1910       125  949704    23   11        6
2644    2644  2.3651  2.2494        10  876147     3   11        6