# over_sampling  ->过抽样

 合成新的类别的样本  ，从每个少数样本的最近邻居中随机选取一个，而后连线，在连线上随机选取一个点作为新样本

In [1]:
from imblearn.over_sampling import SMOTE
import pandas as pd
import numpy as np

In [7]:
x=np.random.randint(0,100,size=(100,3))
y=pd.Series(data=np.random.randint(0,1,size=(95,)))
y=y.append(pd.Series(data=[1,1,1,1,1]),ignore_index=False).values
y=y.reshape(-1,1)
all_data_np=np.concatenate((x,y),axis=1)
np.random.shuffle(all_data_np)
df=pd.DataFrame(all_data_np)

In [3]:
df

     0   1   2  3
0   96  58  85  0
1   90  56  38  0
2   40   4  35  0
3   60  35  68  0
4   24   4  75  1
..  ..  ..  .. ..
95  26  47  59  0
96  21  32  97  0
97  69  10  75  0
98  29  39  67  0
99  71  75  68  0

[100 rows x 4 columns]

In [30]:
feature=df[[i for i in range(3)]]
target=df[3]

In [31]:
feature

     0   1   2
0   25  58  63
1   16  13  67
2   18  82  15
3   81   8  77
4   37  14  50
..  ..  ..  ..
95  65   8  66
96  86  32  73
97  21  63  44
98  85  92  89
99  28  43  88

[100 rows x 3 columns]

In [33]:
target.value_counts()

0    95
1     5
Name: 3, dtype: int64

In [46]:
#实例化对象SMOTE
smot=SMOTE(k_neighbors=3)
s_feature,s_target=smot.fit_resample(feature,target)

In [47]:
s_feature

      0   1   2
0    25  58  63
1    16  13  67
2    18  82  15
3    81   8  77
4    37  14  50
..   ..  ..  ..
185  63  23  62
186  76  74  78
187  77  72  78
188  74  73  75
189  32  37  15

[190 rows x 3 columns]

In [48]:
s_target.value_counts()

0    95
1    95
Name: 3, dtype: int64

# 欠抽样  -> 减少样本数量

In [49]:
target.value_counts()

0    95
1     5
Name: 3, dtype: int64

In [50]:
from imblearn.under_sampling import RandomUnderSampler
r=RandomUnderSampler()
r_feature,r_target=r.fit_resample(feature,target)

In [53]:
r_feature.shape,r_target.shape

((10, 3), (10,))