# 中位数   le_s.median()
# 峰度  sl_s.kurt()
# 标准差  std

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("HR.csv")

In [4]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [5]:
df.describe()

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,15000.000000,15002.000000,15002.000000,15002.000000,15002.000000,15002.000000,15002.000000,15002.000000
mean,0.612839,67.373732,3.802693,201.041728,3.498067,0.144581,0.238235,0.021264
std,0.248623,8164.407524,1.232733,49.941815,1.460053,0.351689,0.426018,0.144267
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,999999.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15002 entries, 0 to 15001
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     15000 non-null  float64
 1   last_evaluation        15002 non-null  float64
 2   number_project         15002 non-null  int64
 3   average_monthly_hours  15002 non-null  int64
 4   time_spend_company     15002 non-null  int64
 5   Work_accident          15002 non-null  int64
 6   left                   15002 non-null  int64
 7   promotion_last_5years  15002 non-null  int64
 8   department             15002 non-null  object
 9   salary                 15002 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [10]:
D=pd.Series(range(0,101))
D

0        0
1        1
2        2
3        3
4        4
      ...
96      96
97      97
98      98
99      99
100    100
Length: 101, dtype: int64

In [11]:
D.cumsum()

0         0
1         1
2         3
3         6
4        10
       ...
96     4656
97     4753
98     4851
99     4950
100    5050
Length: 101, dtype: int64

In [20]:
((0.75/123)**1)/2

0.003048780487804878

In [19]:
2-0.07*2

1.8599999999999999

In [23]:
(1000*2*0.75)/(1000*0.5**2+2*0.75)

5.964214711729622

In [28]:
df["satisfaction_level"].median()

0.64

In [31]:
k=df["satisfaction_level"].sort_values()

In [43]:
k[(k.shape[0]+1)//2]

0.62

In [45]:
k[k.shape[0]-1]

0.7

In [51]:
k[14738]

0.09

In [54]:
df.quantile(q=0.5)

satisfaction_level         0.64
last_evaluation            0.72
number_project             4.00
average_monthly_hours    200.00
time_spend_company         3.00
Work_accident              0.00
left                       0.00
promotion_last_5years      0.00
Name: 0.5, dtype: float64

In [56]:
df["satisfaction_level"].quantile(0.25)

0.44

In [57]:
df["satisfaction_level"].mode()

0    0.1
dtype: float64

In [58]:
df.mode()

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.1,0.55,4.0,135,3.0,0.0,0.0,0.0,sales,low
1,NaN,NaN,NaN,156,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
df.var()

C:\Users\zyk\AppData\Local\Temp/ipykernel_16216/1568254755.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.var()

satisfaction_level       6.181359e-02
last_evaluation          6.665755e+07
number_project           1.519630e+00
average_monthly_hours    2.494185e+03
time_spend_company       2.131754e+00
Work_accident            1.236854e-01
left                     1.814911e-01
promotion_last_5years    2.081307e-02
dtype: float64

In [63]:
pd.Series([1,1,2,3,3,4,4,5,5,5,6,6]).quantile(q=0.25)

2.75

In [66]:
12*0.25

3.0

In [68]:
3*(12+1)/4

9.75

In [69]:
pd.Series([1,1,2,3,3,4,4,5,5,5,6,6]).quantile(q=0.75)

5.0

In [70]:
s = pd.Series([1, 2, 3, 4])

In [71]:
s.quantile([0.25,0.5,0.75])

0.25    1.75
0.50    2.50
0.75    3.25
dtype: float64

1.5

In [74]:
b = pd.Series([1, 2, 3, 4,5,6,8])
b.quantile([0.5,0.25,0.75])

0.50    4.0
0.25    2.5
0.75    5.5
dtype: float64

In [84]:
x=np.random.randn(10000)

In [86]:
x.sum()

0.5496458581394847

In [89]:
import scipy.stats as ss

In [92]:
ss.norm.stats(moments="mvsk")

(array(0.), array(1.), array(0.), array(0.))

In [96]:
ss.norm.pdf(0)

0.3989422804014327

In [99]:
ss.norm.ppf(0.9)

1.2815515655446004

In [101]:
ss.norm.cdf(10)

1.0

In [159]:
ss.norm.rvs(size=10).var()

0.7966564708443464

In [151]:
np.random.randn(10).var()

0.4480263791420736

In [189]:
sl_s=df["satisfaction_level"]

In [190]:
sl_s.isnull()

0        False
1        False
2        False
3        False
4        False
         ...
14997    False
14998    False
14999     True
15000     True
15001    False
Name: satisfaction_level, Length: 15002, dtype: bool

In [184]:
sl_s[sl_s.isnull()].shape[0]

2

In [192]:
sl_s=sl_s.dropna()

In [191]:
sl_s.mean()

0.6128393333333333

In [193]:
sl_s.mean()

0.6128393333333333

In [194]:
sl_s.std()

0.24862338135944925

In [195]:
sl_s.var()

0.061813585758606134

In [196]:
sl_s.min()

0.09

In [197]:
sl_s.max()

1.0

In [198]:
sl_s.median()

0.64

In [200]:
#偏度
sl_s.skew()

-0.47643761717258093

In [202]:
#峰度
sl_s.kurt()

-0.6706959323886252

In [213]:
np.histogram(sl_s.values,bins=np.arange(0.0,1.1,0.1))

(array([ 195, 1214,  532,  974, 1668, 2146, 1973, 2074, 2220, 2004],
       dtype=int64),
 array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ]))

In [211]:
sl_s.value_counts().cumsum()

0.10      358
0.11      693
0.74      950
0.77     1202
0.84     1449
        ...
0.25    14879
0.28    14910
0.27    14940
0.26    14970
0.12    15000
Name: satisfaction_level, Length: 92, dtype: int64

In [214]:
le_s=df["last_evaluation"]

In [222]:
#标准差
le_s.std()

8164.407523745649

In [224]:
#中位数
le_s.median()

0.72

In [227]:
le_s.max()

999999.0

In [228]:
le_s.min()

0.36

In [229]:
le_s.skew()

122.48265175204614

In [230]:
le_s.kurt()

15001.999986807796

In [236]:
le_s[le_s>2]

15000    999999.0
Name: last_evaluation, dtype: float64

In [237]:
le_s=le_s[le_s<=1]

In [239]:
le_s.max()

1.0

In [243]:
l_low=le_s.quantile(q=0.25)

In [244]:
l_low

0.56

In [245]:
l_high=le_s.quantile(q=0.75)

In [246]:
q_interval=l_high-l_low

In [247]:
q_interval

0.30999999999999994

In [248]:
k=1.5